[Unit]
Description=SUSIControlHandler Service
After=network.target systemd-sysctl.service systemd-modules-load.service

[Service]
WorkingDirectory=/usr/local/EdgeSense/SUSIControlHandler
ExecStart=/usr/local/EdgeSense/SUSIControlHandler/Agent_SUSIControlHandler
Restart=no
#RestartSec=30s
#WatchdogSec=10s
#Watchdog=1
ExecStopPost=/bin/rm -f /var/run/Agent_SUSIControlHandler.pid
Type=simple
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
